# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://zuyoysplupojazsaqejh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp1eW95c3BsdXBvamF6c2FxZWpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDc3NTYxOTUsImV4cCI6MjA2MzMzMjE5NX0.C8HQ_VieaIr9dqIWMWThZYXJ_MgKDp6xsUix4u94w7o


# NextAuth Configuration
NEXTAUTH_SECRET=your_nextauth_secret_here
NEXTAUTH_URL=http://localhost:3000 